//background
$background_body: rgb(12, 10, 10);
$base_darkGray: #242424;
$base-color: #cb080f;
$light_gray: rgb(151, 151, 151);  
$boddy_dolor: #bfbfbf;
$base_linegray:#4b4b4b;
$color_parrafo: #909090;


//paddings
$p-pequeno: 10px;
$p-mediano: 20px;
$p-grande: 30px;

//breackpoints
$screen-bigger: 1400px;
$screen-normal: 1200px;
$screen-tablet: 1000px;
$screen-tablet-portail: 800px;
$screem-mobile:600px;
$screen-small:400px;

//border radius
$br-peque:  5px;
$br-mediano:  8px;
$br-grande:  10px;

$size_titulo: 22px;
$size_subtitulo: 18px;
$size_parrafo: 16px;


@mixin box-general_flex { 
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: $screen-normal;
  }

  @mixin single-title {
    background: $base_darkGray;
    font-size: 22px;
    display: block;
    line-height: 25px;
    padding: 15px $p-pequeno 15px 40px;
    border-left: solid 5px $base-color;
  }

  @mixin box-width {
    width: 80%;
    max-width: $screen-normal;
    margin:0 auto;
    @media (max-width: $screen-normal){
      width: 99%;
      padding: 0;
    }
  }
  @mixin flex-row-betwen-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }